{% extends "base.html" %}

{% block content %}
<img class="img-custom-margins responsive-img" src="{{ url_for('static', filename='img/animated messy and clean.jpg') }}" alt="Messy vs Clean picture">
<div class="container">

  <div class="description">
    <h1>Click or Upload Picture to figure out if your room is Messy or Clean</h1>
  </div>
  <hr>

  <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="file" class="btn btn-outline-light btn-lg">
      <input type="submit" value="Click!" class="btn btn-outline-light btn-lg">
    </div>
  </form>

</div>
</div>

{% endblock %}
