{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Predicted Class: <span><strong>{{ result.class_name }}</strong></span></h1>
  <hr>
  <div>
    <img src="{{ result.image_path }}" class="rounded img-custom-margins" width="400" height="auto">
  </div>
  <a href="{{ url_for('index') }}" class="btn btn-outline-light btn-lg">Back</a>
</div>

<div class="container">
  <div>
    <img src="https://media.giphy.com/media/7IhBeRJ8UMImY/giphy.gif" alt="Messy vs Clean picture" width="250" height="auto">
  </div>
</div>
{% endblock %}
